<ion-tabs color="primary">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="accounts">
      <ion-icon name="play-circle"></ion-icon>
      <ion-label>Accounts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cash-flows">
      <ion-icon name="radio"></ion-icon>
      <ion-label>Cash Flows</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="loans">
      <ion-icon name="search"></ion-icon>
      <ion-label>Loans</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
