<ion-content class="ion-padding">
  <ion-grid class="h-full" style="margin-bottom: 20px">
    <ion-row class="h-full content-around px-5">
      <ion-col size="12">
        <img
          src="assets/tata-imali-logo.png"
          class="block mx-auto rounded-full w-3/5"
        />
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list lines="none" mode="ios">
    <form
      [formGroup]="registrationForm"
      (ngSubmit)="createAccount(registrationForm)"
      class="form-item"
      id="create-account"
    >
      <ion-item>
        <ion-label position="stacked" for="userName">User Name</ion-label>
        <ion-input
          type="text"
          name="UserName"
          formControlName="userName"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" for="cellPhoneNumber"
          >Cell Phone Number</ion-label
        >
        <ion-input
          type="text"
          name="cellPhoneNumber"
          formControlName="cellPhoneNumber"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" for="password">Password</ion-label>
        <ion-input
          type="text"
          name="password"
          formControlName="password"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" for="confirmPassword"
          >Retype Password</ion-label
        >
        <ion-input
          type="text"
          name="confirmPassword"
          formControlName="confirmPassword"
        ></ion-input>
      </ion-item>
    </form>
  </ion-list>
  <ion-button
    expand="block"
    shape="round"
    fill="solid"
    class="m-0"
    type="submit"
    form="create-account"
    color="secondary"
  >
    Create Account
  </ion-button>
</ion-content>
