.custom-card {
  background-color: grey;
}

.custom-div {
  background-color: black;
}

h3 {
  text-align: center;
  color: white;
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
  word-wrap: break-word;
}

.inner-div {
  width: 296px; height: 228px; background: #272626; border-radius: 8px
}
