<ion-header [translucent]="true"> </ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="h-full" style="margin-bottom: 20px">
    <ion-row class="h-full content-around px-5">
      <ion-col size="12">
        <img
          src="assets/tata-imali-logo.png"
          class="block mx-auto rounded-full w-3/5"
        />
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-text
    color="light"
    class="ion-text-center p-2"
    style="
      text-align: center;
      color: #ddfe53;
      font-size: 16px;
      font-family: Inter;
      font-weight: 500;
      word-wrap: break-word;
    "
  >
    <h1>Welcome user.</h1>
  </ion-text>

  <ion-text color="light" class="ion-text-center p-2">
    <h1>Accounts</h1>
  </ion-text>

  <div
    style="width: 351px; height: 610px; background: #1e1e1e; border-radius: 8px"
  >
    <ion-card
      color="medium"
      class="custom-card"
      style="
        width: 317px;
        height: 314px;
        background: #484848;
        border-radius: 8px;
      "
    >
      <ion-segment [(ngModel)]="selectTabs">
        <ion-segment-button value="available">
          <ion-label color="light">Available</ion-label>
        </ion-segment-button>
        <ion-segment-button value="owing">
          <ion-label color="light">Owing</ion-label>
        </ion-segment-button>
      </ion-segment>

      <div *ngIf="selectTabs === 'available'">
        <div class="inner-div">
          <ion-text class="ion-text-center p-2">
            <h3>Available balance:</h3>
            <h4>R500</h4>
          </ion-text>
        </div>
      </div>

      <div *ngIf="selectTabs === 'owing'">
        <div class="inner-div">
          <ion-text class="ion-text-center p-2">
            <h3>Amount owing:</h3>
            <h4>R0</h4>
          </ion-text>
        </div>
      </div>
    </ion-card>
  </div>
</ion-content>
