<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-6 col-lg-4">
      <div class="text-center">
        <img
          src="/assets/Tata-iMali-logo-colour.png"
          alt="Tata-Imali Logo"
          class="brand-image"
          height="100"
          width="200"
          rounded
        />
      </div>
      <mat-tab-group>
        <mat-tab label="Request Loan">
          <!-- Request Loan Form -->
          <h3 class="mb-3 font-weight-bolder signup-title">Request Loan</h3>
        </mat-tab>
        <mat-tab label="Settle Debt">
          <!-- Settle Debt Form -->
          <h3 class="mb-3 font-weight-bolder signup-title">Settle Debt</h3>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
