.card.bg-black {
  background-color: black;
}

.form-control {
  background-color: #dddddd;
  color: black;
}

.signup-title {
  color: limegreen;
}

.centered-btn {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  background-color: lime;
  color: black;
}
