.Rectangle4586 {
  width: 351px; height: 610px; background: #1E1E1E; border-radius: 8px
}

.Loans {text-align: center; color: white; font-size: 16px; font-family: Inter; font-weight: 500; word-wrap: break-word}

.Rectangle4588{ width: 317px; height: 314px; background: #484848; border-radius: 8px}

.Rectangle4589 {
  width: 296px; height: 228px; background: #272626; border-radius: 8px; text-align: center;
}
